<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-info</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="css/resposeStyle.css">
    <!-- css static -->
    <link rel="stylesheet" href="public/css/resposeStyle.css">
</head>
<body>
    <div id="container">
        <h1><%= place %></h1>
        <h3>the temperature is <%= temp %> degree Celcius</h3>
        <img src=<%= img %> alt="" >
        <p class="max-temp" >Max Temp:<br><%= max %></p>
        <p class="mini-temp" >Mini Temp:<br><%= min %></p>
        <p class="weather-dis" >Weather Discription:<br><%= weatherDescription %></p>
    </div>

    <footer>
        ©Copyright <%= year %> Ritik Shah
    </footer>
</body>
</html>